.main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ListaSaludo{
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
}

.ContenedorSaludo{
margin-bottom: 20px;
}

.ContenedorProductos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}