.BotonContadorMenos, .BotonContadorMas{
    color: red;
    margin: 8px;
    background-color: transparent;
}

.ContenedorContador{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
}

#Contador{
    color: white;
    margin: 8px;
    background-color: transparent;
}